<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linear Regration</title>
</head>
<style>
    h1{
        color: blue;
        font-size: 30px;
        background-color: cyan;
        text-align: center;
    }
</style>
<body>
    <h1>Welcome to Linear Regration!</h1>
    
  
       {% for i in range(0 ,5)  %}
       <li>{{var[i]}}</li>
       {% endfor %}<br>
       <h2>mean abuslate error of the model</h2>
       <li>{{var1}}</li>
       <li>{{var3}}</li>
       <li>{{var4}}</li>
</body>
</html>